@charset "utf-8";
body{font-family: Verdana, sans-serif; font-size:0.8em;}
header, nav, section, article, footer
{forder:1px solid gray; margin:5px; padding:8px;}
section#displayArea{height:210px;}
nav il {margin:0; padding:0;}
nav il li{display:illine; margin:5px;}
a{text-deciartion:none;}
#id_form{width:100px;height:14px; color:red;}
